*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    padding-top: 1%;
    font-size: 24px;
    padding-bottom: 2%;
}

p{
    font-size: 12px;
}

div.top-header{
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo {
    width: 200px;
    padding: 10px;
    font-weight: 400;
    text-align: left;
    margin: auto;
}

header div.logo,
header .form{
    width: 50%;
}

header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 15px;
    /* justify-items: center; */
    margin: auto;
}

header nav {
    font-size: 12px;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: none;
}

.contenedor-nav ul li{
    list-style-type: none;
    margin: auto;
} 

.contenedor-nav ul li a{
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 5px 5px;
    font-size: 17px;
}

.contenedor-nav {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    display: none;
}

.contenedor-nav ul {
    display: flex;
}

header .form .input{
    background-color: #FFF;
    /* border: 1px solid #000; */
    outline: none;
    color: #666;
    padding: 5px;
    border-radius: 5%;
}

header .form .submit{
    background-color: #FFF;
    /* border: 1px solid #000; */
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

div.burger-menu{
    text-align: center;
    display: block;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
    text-align: center;
}

article div.main-article{
    width: 100%;
    padding: 15px;
    border-top: solid 1px #ebebeb;
}

.price-discount {
    display: flex;
    align-items:center;
    /* justify-content:left; */
    /* padding-left: ; */
    /* padding-block: -20px; */
}

.price{
    font-size: 18px;
    margin: 0 5px;
}

.discount {
    color: #39b54a;
    align-self: center;
    margin: 0 5px;
}

h3,
.description{
    color: #666;
    text-align: center;
}

.description{
    font-size: 16px;
    font-weight: normal;
    transition: transform .3s ease-in-out;
    /* opacity: 0; */
    display: none;
}

.input {
    margin: auto;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: auto;
}

main section article{
    background-color: #fff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

main section article img{
    width: 100%;
}

main section article div i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: green;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left: 90%;
    top: -30px;
    transition: transform .3s ease-in-out;
    }

main section div.products article{
    /* width: 45%; */
    transition: transform .3s ease-in-out;
}

main section article div i:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transform: rotate(-90deg)
}

footer {
    background-color: white;
    padding-bottom: 10px;
}

.footer-items {
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

.footer-items div {
    flex-direction: row;
    margin: 10px 10px;
    align-items: center;
    justify-content: center;
    /* padding: 20px 20px; */
    width: 100%;
}

/* footer .p {
    display: block;
    text-align: left;
} */

.end-footer {
    display: block;
}

.footer-items i {
    font-size: 30px;
    color: #1259c3;
    padding-bottom: 4px;
    transition: transform .3s ease-in-out;
}

.footer-items i:hover {
    color: #39b54a;
}

@media (min-width: 361px){
    main section article .description{
        margin: auto
    }

    main section div.products{
        /* width: 45%; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .top-header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
        /* margin: auto; */
    }

    main section div.products article {
        width: 45%;
    }

    main section div.products article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products article:hover .description{
        /* opacity: 1; */
        display: block
    }; 
}

.register {
    padding: 10px;
    margin: auto;
}

.register form input,
.login input {
    border-radius: 5%;
    border-style: none;
    padding: 3px 3px;
    margin-bottom: 2px;
}

.login {
    padding: 10px 10px;
    margin: auto;
    text-align: center;
}

.input-buttoms {
    background-color: white;
    padding: 3px 3px;
    border-radius: 5%;
    font-style:italic;
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }

    div.burger-menu {
        display: none;
    }

    .contenedor-nav {
        display: flex;
        height: 40px;
        text-align: center;
    }

    .top-header {
        flex-wrap: nowrap;
    }

    header div.top-header p {
        text-align: right;
    }

    .footer-items div {
        width: 30%;
    }
}

@media (min-width: 1200px) {

}